.form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 20px;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  
    .form-group {
      margin-bottom: 15px;
  
      label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
      }
  
      input,
      textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-sizing: border-box;
      }
  
      textarea {
        height: 100px;
      }
  
      input[type="checkbox"] {
        margin-top: 5px;
      }
    }
  
    button {
      background-color: #1e5920;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  
      &:hover {
        background-color: #45a049;
      }
    }
  }